/* POP-UP main menu */

.container {
    color: white;
    right: 0; 
    position: fixed;
    top: 35px;
    margin-right: 15px;
    padding: 10px;
  }
  
  .btn {
    padding: 10px;
    /* border: solid 2px white; */
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 0;
    margin-right: 50%;
    margin-top: 480px;
    /* font-weight: 500; */
    /* border-radius: 10px; */
    transition: transform 0.2s;
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  .popup {
    /* width: 450px; */
    width: 30%;
    background: rgb(2, 2, 19);
    border: 2px solid purple;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 60px;
    color: #333;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }
  
  .popup button:hover {
    background-color: rgb(95, 19, 95);
  }
  
  .open-popup {
    visibility: visible;
    /* top: 2000%; */
    top: 10px;
    transform: translate(-50%, -50%) scale(1);
    padding: 60px;
  }
  
  /* .popup h2 {
        font-size: 38px; 
        font-weight: 500;
        margin: 30px 0 10px;
      } */
  
  .popup button {
    width: 30%;
    margin-top: 10px;
    padding: 10px 0;
    background-color: rgb(207, 58, 207);
    color: #fffe;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    /* Add transition for smooth rotation */
  }

  .centeralign {
    width: 210px;
  }
  
  /* End POP-UP main menu */
  