@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* height: 100vh; */
  font-family: "Poetsen One", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
  
}
footer{
  position: absolute;
  bottom: 10%;
  left: 51px;
}

.rulebackground{
  width: 100%;
  /* background-image: url("../moderator/images/bg_rule.webp"); */
  background-image: url("../moderator/images/RulesBG.webp");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}

.ruleGGParentDiv{ 
  width: 100%; 
  color: white; 
}
.ruleGParentDiv{
  width: 100%;
   display: flex;
   text-align: center; 
    justify-content: center;
}
.game2logo{
  width: 20%;
}
.game3logo{
  width: 20%;
}
.game1logo{
  width: 20%;
}

.GH{
  font-size: 3rem;
}

.GDiv{
  width: 100%; 
  display: flex; 
  justify-content: 
  center; align-items: center;
  margin-top: -2rem;
  /* margin: 2rem; */
}

.hDivInner{
  display: flex; justify-content: center; align-items: center;
  width: 80%;
  margin: 0 5rem 0 5rem;
  margin-top: -2rem;
  /* background-color: pink; */
  background-image: url('../moderator/images/RulesBoxRound3.png'); /* Replace with your image path */
  background-repeat: no-repeat; /* Prevent repetition */
  background-attachment: cover;
  background-size: 100% 100%;
  background-position: center;
}

.hDiv{
  width: 80%; 
  margin: 2rem 0 2rem 0; 
  /* display: flex; justify-content: center; align-items: center */

}

.nhDiv2{
  width: 80%; 
}
.nhDiv{
  width: 42%; 
}

.hS{
  font-size: 1.5rem; font-weight: 100;line-height:1;
}
.phS{
  font-size: 1rem; font-weight: 100;line-height:1;
}

.hS2{
font-size: 12px;
font-weight: 100;
color: #ccc6d0;
}
.vT{
 
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    padding: 0 0 18rem 0;

}
footer p{
font-family: 'Comic Sans MS';
font-size: 14px !important ;
}
#popupContainer{

  position: absolute;
  top: -20%;
}

#popupContainer2{

  position: absolute;
  top: -20%;
}


.buttonsoundalign {
  justify-content: space-between;
  display: flex;
  position: absolute;
  /* bottom: 1%; */
  bottom: 15%;
  width: 100%;
  padding: 0%;
  z-index: 1000;
}
.soundright {
  padding: 20px;
  left: 20px;
  /* rotate: 90deg; */
  margin-right: -3px;
  /* background-color: rgb(44, 0, 82); */
  background-color: rgb(20, 0, 82);
  border: none;
  border-radius: 10px 0 0 10px;
  /* box-shadow: 4px 6px 4px red; */
  cursor: pointer;
  color: white;
}
.soundleft {
  padding: 20px;
  left: 20px;
  /* rotate: 90deg; */
  margin-left: -7px;
  /* background-color:rgb(44, 0, 82); */
  background-color:rgb(20, 0, 82);
  border: none;
  border-radius: 10px 10px 0 0;
  /* box-shadow: 4px 6px 4px red; */
  color: white;
  cursor: pointer;
  /* padding-bottom: 5px; */
}

.userList {
  color: aliceblue;
  width: 100%;

}
.buzzerpic{
   width: 500px;
    height: auto;
}


#right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ddd; */
  padding: 20px;
  color: aliceblue;
  font-size: 3rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: none;
}

li {
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  width: 100px;
  font-weight: 900;
}

.selected {
  background-color: #7d1ddf;
  color: white;
  font-size: 19px; /* Change the background color when selected */
}

#question {
  margin-bottom: 0px;
}

.option {
  margin-bottom: 0px;

}

.option button {
  /* margin-right: 10px; */
  width: 100%;
}

.questionText{
  margin-top: 0.5rem;
  margin-bottom: .2rem;
  font-size: 2.09rem;
  font-family: "Poetsen One", sans-serif;
            font-weight: 100;
            font-style: normal;
}

#tables-con {
  margin-top: 20px;
}

.forBtn {
  display: flex;
  justify-content: center;
}

.mainbackground{
  width: 100%;
  /* background-image: url("../moderator/images/plain-bg.webp"); */
  background-image: url("../moderator/images/RulesBG.webp");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}


.mainbackgroundMissMatch{
  width: 100%;
  /* background-image: url("../moderator/images/newMissMatch-Bg.webp"); */
  background-image: url("../moderator/images/Round_2_Nutrition_Information.webp");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}
.mainbackgroundwordSearch{
  width: 100%;
  /* background-image: url("../moderator/images/Wordsearch.webp"); */
  background-image: url("../moderator/images/Round_3_Puzzle.webp");
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.maincontainer{
  /* border: solid 2px rgb(248, 248, 248); */
  width: 99%;
  display: inline-flex;
}

.tablebuzzer{
  /* border: solid 2px green; */
  width: 15%;
  height: auto;
}
.timerdiv{
  /* border: solid 2px green; */
  width: 20%;
}

.questionConatiner{
  /* border: solid 2px red; */
  width: 60%;
  margin-top: -36px;
}
.banner{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;

}
.gsklogo{
  width: 8vw;
}
.augmentinlogo{
  width: 8vw;
}
.gskalign{
    align-content: flex-end;
    margin-left: 1rem;
  
}
.augmentinalign{
  align-content: flex-end;
  margin-right: 3rem;
}

.userList {
  position: relative;
  display: inline-block; /* Ensure the container fits its contents */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow clicks to pass through the overlay */
}

#list {
  margin-top: 20px; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  list-style: none; /* Remove bullet points */
}

.buzzerpic {
  display: block;
  width: 100%; /* Ensure the image takes up its full container width */
  height: 26rem; /* Maintain aspect ratio */
}

.timerpic {
  display: block;
  width: 100%; /* Ensure the image takes up its full container width */
  height: auto; /* Maintain aspect ratio */
}

.questionbackimage{
  width: 100%;

}

#options {
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-columns: auto auto;
  gap: 10px;
  padding-top: 2rem;
  margin: 5px;
  padding: 0px 20px;
  font-size: 20px;
}
.option {
  cursor: pointer;
  margin: 5px;
  padding: 10px 20px;
  font-size: 47px;
  background-color: #ffffff;
  color: rgb(74, 0, 0);
  font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
  border-radius: 70px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.next-backbuttonalign{
 width: 100%;
 display: flex;
 justify-content: space-between;
 margin-top: -20px;
}

.newNext-backbuttonalign{
  width: 79%;
  display: flex;
  /* justify-content: space-evenly; */
  /* margin-top: -20px; */
  margin-left: 13%;
  position: absolute;
  bottom: 12%;
  gap: 450px;
}
.nextalign{
  margin-right: 7rem;
}
.backalign{
  margin-left: 7rem;
}


  /* Add this to your CSS */
  .btnBackground {
    /* background-image: url('../moderator/images/OptionBoard.png'); */
    background-image: url('../moderator/images/Button.png');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    /* Additional styling */
    padding: 20px 45px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    /* border-radius: 5px; */

    font-family: "Poetsen One", sans-serif;
            
            letter-spacing: 0.2px;
}




/* Optional: Hover effect */
.btnBackground:hover {
    opacity: 0.8;
}


/* New Effect on Options 👇 New Effect on Options New Effect on Options */
.newOption{
  width: 20vw;
  margin: 5px;
  background-color: transparent;
  font-size: 1.5em;
  border-radius: 10px;
  font-weight: 500;
  font: bold;
  cursor: pointer;
  padding: 20px 20px;

}

.newOption{
--border-width: 1px;
--radius: 24px;
background-color: transparent;
position: relative;
border-radius: var(--radius);
border: var(--border-width) solid transparent;
font-family: "Poetsen One", sans-serif;
            font-weight: 200;
            font-style: normal;
}

.newOption::before {
content: " ";
position: absolute;
inset: calc(var(--border-width) * -1);
z-index: -1;
border: inherit;
border-radius: inherit;
/* background-image: conic-gradient(from var(--angle), #381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%); */
background-image: linear-gradient(90deg, #00FFFF, #A700FF);

background-origin: border-box;
-webkit-mask:
  linear-gradient(black, black) content-box,
  linear-gradient(black, black);  
mask: linear-gradient(black, black),
      linear-gradient(black, black);
-webkit-mask-clip: content-box, border-box;  
mask-clip: content-box, border-box;
-webkit-mask-composite: xor;  
mask-composite: exclude;
animation: spin 3s linear infinite;
}

@supports not (background: paint(something)) {
.media-object::before {
background-image: conic-gradient(#381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%);    
}
}

/* .newOption:hover::before {
animation-play-state: paused;
} */

@property --angle {
syntax: "<angle>";
inherits: true;
initial-value: 0turn;
}

@keyframes spin {
to {
  --angle: 1turn;
}
}

/* bubble animation 👇  bubble animation  bubble animation  bubble animation  bubble animation   */
/* bubble animation 👇  bubble animation  bubble animation  bubble animation  bubble animation   */
/* bubble animation 👇  bubble animation  bubble animation  bubble animation  bubble animation   */
/* bubble animation 👇  bubble animation  bubble animation  bubble animation  bubble animation   */



.bubbly-button {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
display: inline-block;
font-size: 1em;
padding: 1em 2em;
margin-top: 100px;
margin-bottom: 60px;
-webkit-appearance: none;
appearance: none;
background-color: #ff0081;
color: #fff;
border-radius: 4px;
border: none;
cursor: pointer;
position: relative;
transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.bubbly-button:focus {
outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
position: absolute;
content: '';
display: block;
width: 140%;
height: 100%;
left: -20%;
z-index: -1000;
transition: all ease-in-out 0.5s;
background-repeat: no-repeat;
}

.bubbly-button:before {
display: none;
top: -75%;
background-image: 
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
  radial-gradient(circle, #ff0081 20%, transparent 20%), 
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%);
background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
display: none;
bottom: -75%;
background-image: 
  radial-gradient(circle, #ff0081 20%, transparent 20%), 
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%),
  radial-gradient(circle, #ff0081 20%, transparent 20%);
background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
transform: scale(0.9);
background-color: #e60073; /* Slightly darkened color */
box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
display: block;
animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
display: block;
animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
0% {
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
50% {
  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
}
100% {
  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}

@keyframes bottomBubbles {
0% {
  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
}
50% {
  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
}
100% {
  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}
